<?xml  version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	   http://www.springframework.org/schema/util 
	   http://www.springframework.org/schema/util/spring-util.xsd">
    <bean class="com.lecloud.commons.logging.aspect.LogAspect" />
    <bean id="jsonHandlerExceptionResolver" class="com.letv.cdn.openapi.support.JsonHandlerExceptionResolver" />
    <bean class="com.letv.cdn.openapi.utils.SpringUtil" />
    <context:annotation-config />
    <!--  <util:properties id="env" location="classpath:env.properties"/>-->
    <context:property-placeholder location="classpath:env.properties" />
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <context:component-scan base-package="com.letv.cdn" >
        <context:exclude-filter type="assignable" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <aop:aspectj-autoproxy />
    <import resource="spring-*-autowire.xml" />
    
    <bean id="openapiAuthService" class="com.letv.cdn.openapiauth.service.impl.DefaultOpenapiAuthServiceImpl">
    	<!-- 资源控制filter -->
    	<property name="resourceFilters">
    		<list>
    			<ref bean="preDistTaskSingleDayTotalFilter"/>
    			<!-- 
    			<ref bean="preDistTaskSingleDayUpdateTotalFilter"/>
    			 -->
    		</list>
    	</property>
    	<!-- 白名单 -->
    	<property name="excluedIps">
			<list>
				<!-- 内网IP和本机IP -->
				<value>127.0.0.1</value>
				<value>10.58</value>
				<!-- LVS地址 -->
				<value>111.206.208.218</value>
				<!-- openapi和report新服务器IP begin-->
				<value>111.206.210.205</value>
				<value>111.206.210.204</value>
				<value>10.135.28.249</value>
				<value>10.135.28.250</value>
				<!-- openapi和report新服务器IP end-->
				<!-- 测试服务器IP begin-->
				<value>123.126.32.31</value>
				<value>10.126.32.31</value>
				<!-- 测试服务器IP end-->
                <!-- 运维跳板机（祖天彪） begin-->
                <value>10.204.28.22</value>
                <value>115.182.94.72</value>
				<!-- 运维跳板机（祖天彪） end-->
			</list>
		</property>
    </bean>
    
   <bean id="stringHttpMessageConverter" 
       class="org.springframework.http.converter.StringHttpMessageConverter" >
       	<constructor-arg>
       		<value>UTF-8</value>
       	</constructor-arg>
   </bean> 
    
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"> 
        <property name="messageConverters"> 
            <list> 
               <ref bean="stringHttpMessageConverter"/>
                <bean id="formHttpMessageConverter" 
                    class="org.springframework.http.converter.FormHttpMessageConverter" /> 
                 <bean id="mappingJackson2HttpMessageConverter" 
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" /> 
            </list> 
        </property> 
    </bean>
</beans>
